/*Variaveis*/
    // Cores
    $azul-medio:#1f2935;$azul-escuro:#161d26;$azul-claro:#0abead;
    $branco-gelo:#aab8d4;$laranja:#f57f17;

/*Resets*/
*{margin: 0; padding: 0; box-sizing: border-box;font-family: 'Poppins', sans-serif;}
body,html{height: 100%; background-color: $azul-escuro;}

/*Uilities*/
.container{max-width: 1280px;width: 100%; margin: 0 auto; padding: 0 2%;}
h2{font-size: 48px; color:$azul-claro;font-weight: bold;}
p{font-size: 16px;color:$branco-gelo;font-weight: regular;}
input:focus,textarea:focus,button:focus{outline: 0;}

.social-media{
    display: flex;

    a{
        margin: 0 10px;
        color: $azul-escuro;
        
        
        i{  
            background-color: $azul-medio;
            font-size: 30px;
            padding: 7px;
            border-radius: 50%;
        }

        i:hover{
            transition: 0.3s;
            background-color: $azul-claro;
            box-shadow: 0px 4px 15px 5px rgba(17, 90, 124, 0.15);
        }
    }

    
}

.title-section{
    margin-bottom: 60px;

    h2{
        text-align: center;
    }

    p{
        text-align: center;
    }

    .line{
        display: block;
        position: relative;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 300px;
        width: 100%;
        height: 2px;
        background-color: $azul-claro;

        .line-center{
            display: block;
            position: relative;
            left: 50%;
            top: -4px;
            transform: translateX(-50%);
            width: 40px;
            height: 10px;
            background-color: $azul-claro;
            border-radius: 30px;
        }
    }

    
}


.btn-blue{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background-color: $azul-claro;
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    font-weight: bold;
}

.btn-blue:hover{
    transition: 0.3s;
    -webkit-box-shadow: 0px 11px 15px 5px rgba(10,190,173,0.25); 
    box-shadow: 0px 11px 15px 5px rgba(10,190,173,0.25);
}

.btn-orange{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background-color: $laranja;
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 20px;

}
.btn-orange:hover{
    transition: 0.3s;
    -webkit-box-shadow: 0px 11px 15px 5px rgba(245,127,23,0.25); 
    box-shadow: 0px 11px 15px 5px rgba(245,127,23,0.25);
}
/**/


/*ESTILIZANDO HEADER*/

.menu-mobile-ul{
    display: none;
    overflow: hidden;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color:$azul-escuro;
    height: 100%;
    width: 100%;
    text-align: center;

    
    .btn-fechar-menu:hover{
        transition: 0.3s;
        color: white;
    }
    ul{
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        
        li{
            list-style-type: none;

            a{
                color: $branco-gelo;
                text-decoration: none;
                font-size: 40px;
                line-height: 100px;
            }
            a:hover{
                transition: 0.3s;
                text-decoration: underline;
                color: white;
            }
        }
    }
}
header{
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    padding: 22px 0;
    
    background-color: $azul-medio;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            
            h1{
                font-weight: 900;
                transition: 0.3s;
                color:$azul-claro;
            }
        }

        nav{
            
            ul{
                display: flex;
                li{ 
                    
                    margin-left: 35px;
                    list-style-type: none;
    
                    a{
                        text-decoration: none;
                        color:$branco-gelo;
                        font-size: 16px;
                    }
                    a:hover{
                        transition: 0.3s;
                        color:$azul-claro;
                    }
                }
            }
        }
        nav.menu-mobile{
            display: none;
            
            a.btn-hamb{
                color: $branco-gelo;
                font-size: 28px;
                border-radius: 5px;
                cursor: pointer;          
            }
            a:hover{
                transition: 0.3s;
                color: white;
            }
        }
    }
}
/**/

/*SECTION BG*/

section.bg{
    
    position: relative;
    top:70px;
    z-index: 1;
    overflow: hidden;
    min-height: 90vh;
    margin-bottom: 100px;

    video{
        z-index: -1;
        position: absolute;
        left: 0;
        width: 120%;
        
    }

    .overlay{
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(11, 40, 66, 0.5);

        background-image: url('../images/Shape.png');
        background-repeat: no-repeat;
        background-position: center 110%;
    }
    .container{
        display: flex;
        justify-content: space-between;
        
        .bg__texto{
            padding: 200px 0;
            
            h3{
                margin-bottom: 10px;
                color: $azul-claro;
    
                span{
                    color: $laranja;
                }
            }
    
            h1{
                margin-bottom: 15px;
                color: $azul-claro;
                font-size:50px;
                font-weight: bold;
            }
    
            p{
                margin-bottom: 30px;
            }

            .social-media{
                display: none;
                width: 50%;
                justify-content: center;
            
                a{
                    margin: 50px 10px;
                    color: $azul-escuro;
                    i{  
                        background-color: $branco-gelo;
                        
                    }
            
                    i:hover{
                        background-color: $azul-medio;
                        color: $branco-gelo;
                        box-shadow: 0px 4px 15px 5px rgba(17, 90, 124, 0.15);
                    }
                }
            
                
            }
        }
    
        .bg__imagem{
            position: relative;
            margin-top: 150px;
            min-width: 450px;
            min-height: 450px;
            border: 20px solid $azul-medio;
            border-radius: 50%;
            
            background-image: url('../images/foto-perfil.jpg');
            background-size: cover;
            background-position: center; 
            box-shadow: 0px 4px 15px 5px rgba(170,184,212,0.07);

            .social-media{
                position: absolute;
                left: 50%;
                bottom: 10%;
                transform: translateX(-50%);
                
                a{
                    i{
                        background-color: $branco-gelo;
                    }

                    i:hover{
                        background-color: $azul-medio;
                        color: $branco-gelo;
                    }
                }
            }
            
        }
        
    }
    
}

/**/

/*SECTION ABOUT US*/

section.about{

    padding: 60px 0;

    .about__info{
        display: flex;
        justify-content: space-between;
        
        .info__img{
            flex: 1;
            width: 100%;
            padding-top: 500px;
            background-image: url('../images/foto-perfil.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .info__text{
            flex: 1;
            padding: 30px;
            background-color: $azul-medio;

            h4{
                font-size: 24px;
                margin-bottom: 20px;
                color: $branco-gelo;
                
            }

            ul{
                margin: 20px 0 70px 0;

                h4{
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 10px;
                    
                }

                li{
                    padding-left: 20px;
                    list-style-type: none;
                    color: $branco-gelo;
                    font-size: 16px;
                    margin-bottom: 5px;
                    vertical-align: middle;
                    i{
                        font-size: 23px;
                        color: $laranja;
                        margin-right: 8px;
                    }
                    img{
                        width: 25px;
                        margin-right: 6px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

}

section.services{
    padding: 60px 0;

    .services__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item-single{
            width: 30%;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding: 65px 30px;
            color: white;
            box-shadow: 0px 4px 15px 5px rgba(170,184,212,0.10);
            i{
                font-size: 60px;
                
            }

            h5{
                margin: 15px 0;
                font-size: 24px;
                font-weight: bold;
            }

            p{
                color: white;
                text-align:center;
            }
        }

        .item-single:nth-of-type(1){
            background-color: #8641FF;
        }
        .item-single:nth-of-type(2){
            background-color: #FFC50C;
        }
        .item-single:nth-of-type(3){
            background-color: #EC407A;
        }
        .item-single:nth-of-type(4){
            background-color: #FF6332;
        }
        .item-single:nth-of-type(5){
            background-color: #14B6FF;
        }
        .item-single:nth-of-type(6){
            background-color: #4AAF47;
        }
    }
}

/**/

/*SECTION RESUME*/

section.resume{
    padding: 270px 0;
    
    background-image: url('../images/shape2.png');
    background-size: cover;
    background-position: right -25px;
    .resume__info{
        display: flex;
        
        .tab-options{
            display: flex;
            
            width: 100%;
            background-color: $azul-escuro;
            margin-right: 70px;
            
            .column-icons{
                display: flex;
                flex-direction: column;
                background-color: $azul-claro;
                padding: 34px 22px;
                max-width: 15px;
                align-items: center;
                i{
                    color: white;
                    font-size: 22px;
                    line-height: 45px;
                }
                
            }

            .column-text{
                padding: 34px 0;
                li{
                    font-size: 18px;
                    list-style-type: none;
                    color: $branco-gelo;
                    padding-right: 15px;
                    line-height: 45px;
                    border-radius: 0 25px 25px 0;
                    span.circle{
                        position: relative;
                        top: 0;
                        background-color: $azul-claro;
                        vertical-align: middle;
                        width: 15px;
                        height: 30px;
                        display: inline-block;
                        border-radius: 0 25px 25px 0;
                    }
                }

                
            }

            
        }

        .tab-info{
            border-left: 2px solid $azul-claro;
            width: 100%;
            padding-left: 30px;
            .info-single{
                
                .circle-line{
                    position: relative;
                    left: -41px;
                    top: 25px;
                    border-radius: 10px;
                    display:block;
                    width: 20px;
                    height: 20px;
                    background-color: $azul-claro;
                }
                .info-text-title{
                    display: flex;
                    justify-content: space-between;
                    h4{
                        font-size: 20px;
                        color: $laranja;
                    }

                    span{
                        background-color: $laranja;
                        color: white;
                        padding: 3px 15px;
                        border-radius: 25px;
                    }
                }

                h5{
                    margin: 5px 0;
                    font-size: 16px;
                    color: $branco-gelo;
                }

            }
        }
    }
}

/**/

/*SECTION PORTFOLIO*/

section.portfolio{
    padding: 60px 0;
    
}
/**/

/*SLICK SLIDER*/
.container-slider{
    overflow: hidden;
    padding: 40px 0;
    .container-slider-single{
        float: left;
        background-color: rgba(0,0,0,0);
        text-align: center;
        padding: 15px;
    
    }
}

.slick-dotted ul{
    list-style-type:none;
    text-align: center;
    position: relative;
    margin-top: 10px;
    top: 30px;
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus{
    outline: 0;
}

.slick-dotted li button{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background-color: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button{
    background-color: #373855;
    color: #373855;
}



/*FIM SLICK SLIDER*/

/*SECTION CONTACT*/
section.contact{
    
    position: relative;
    z-index: 1;
    min-height: 700px;
    overflow: hidden;
    .overlay{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .6);

        .form-elements{
            display: flex;
            
            margin: 100px 0;
            .form-text{
                flex: 1;
                margin-right: 15px;
                margin-top: 25px;
                h4{
                    font-size:34px;
                    color: white;
                    margin-bottom: 15px;
                }

                p{
                    width: 100%;
                    max-width: 400px;
                }


                
            }

            .form-container{
                flex: 1;
                margin-left: 15px;
                background-color: $azul-medio;
                box-shadow: 0px 4px 15px 5px rgba(170,184,212,0.06);
                padding: 65px 10px;
                border-radius: 10px;

                h5{
                    font-size: 30px;
                    margin-bottom: 15px;
                    color: $azul-claro;
                    text-align: left;
                    margin-left: 40px;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    

                    
                    input{
                        background-color: $azul-escuro;
                        color: $branco-gelo;
                        padding-left: 12px;
                        font-size: 18px;
                        line-height: 45px;
                        width: 100%;
                        max-width: 500px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                        border: 0;
                    }
                    

                    textarea{
                        background-color: $azul-escuro;
                        color: $branco-gelo;
                        padding: 12px;
                        font-size: 18px;
                        width: 100%;
                        max-width: 500px;
                        height: 100px;
                        resize:none;
                        border-radius: 10px;
                        border: 0;
                    }

                    button.btn-blue{
                        border: 0;
                        width: 100%;
                        max-width: 500px;
                        margin: 10px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    video{
        position: absolute;
        left: 0;
        width: 100%;
        transform: scaleX(-1);
        
    }
}

/**/

/*FOOTER*/

footer{
    padding: 25px 0;
    .container{
        display: flex;
        justify-content: space-between;

        p{
            line-height: 45px;
            font-size: 18px;
        }

        .social-media{
            display: flex;

            a{
                margin: 0 10px;
                color: $azul-escuro;
                
                
                i{  
                    background-color: $azul-medio;
                    font-size: 30px;
                    padding: 7px;
                    border-radius: 50%;
                }

                i:hover{
                    transition: 0.3s;
                    background-color: $azul-claro;
                    box-shadow: 0px 4px 15px 5px rgba(170,184,212,0.15);
                }
            }

            
        }
    }
}

/**/

/*RESPONSIVO*/

@media screen and (max-width: 1265px){
    section.contact{
        video{
            width: 150%;
        }
    }
    section.services{
        .services__items{
            .item-single{width: 48%; margin: 10px;}
        }
    }
    
    /**/
}

@media screen and (max-width: 1112px){

    section.bg{
        video{
            z-index: -1;
            position: absolute;
            left: 0;
            width: 150%;
            
        }

        .container{
            .bg__imagem{
                display: none;
            }

            .bg__texto{
                .social-media{
                    display: flex;       
                }
            }

        }
    }

}



@media screen and (max-width: 1060px) {

    section.contact{
        .overlay{
            
            .container{
                
                .form-elements{
                    position: relative;
                    bottom: 25px;
                    flex-direction: column;
                    align-items: center;
                    margin:0;
                    padding: 50px 0;
                    .form-text{
                        text-align: center;
                        margin-bottom: 15px;
                        
                    }
                    .form-container{
                        h5{
                            text-align: center;
                            margin-left: 0;
                        }
                        margin-left: 0;
                        
                        padding: 25px;
                        width: 100%;
                        max-width: 600px;
                    }
        
                }
            }
        }
    }

    section.services{
        .services__items{
            .item-single{width: 48%;max-width: 600px; margin:15px 5px}
        }
    }


}

@media screen and (max-width: 900px){
    section.contact{
        video{
            width: 300%;
        }
    }
    section.resume{
        padding: 150px 0;
        background-position: center;
        .resume__info{
            
            flex-direction: column;
            align-items: center;
            .tab-options{        
                max-width: 500px;
                width: 100%;          
                margin-right: 0;
            }
    
            .tab-info{
                max-width: 500px;
                width: 100%;
            }
        }
    }


    section.bg{
        video{
            z-index: -1;
            position: absolute;
            left: 0;
            width: 200%;
            
        }
    }
}

@media screen and (max-width:768px){

    .container-slider{
        .container-slider-single{
            img{
                width: 100%;
            }
        
        }
    }
    .slick-slide {
        margin-left: 0px;
    }
    
    .slick-list{
        margin-left: 0px;
    }
    
    
    h2{font-size: 35px;}
    p{font-size: 14px;}

    header{
        .container{
            nav.menu-desktop{
                display: none;
            }
            nav.menu-mobile{
                display: flex;

            }
        }
    }
    footer{
        padding: 25px 0;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            p{
                order: 1;
                line-height: 45px;
                font-size: 18px;
            }
    
            .social-media{
                display: flex;
    
                a{
                    margin: 10px 10px;
                    color: $azul-escuro;
                    
                }
    
                
            }
        }
    }

    section.bg{
        height: auto;

        .container{
            .bg__texto{
                width: 100%;
                text-align: center;
                padding: 150px 0;
        
                h1{
                   
                    font-size:35px;
                   
                }

            .social-media{
                width: 100%;
            }
            }
        }
        video{
            z-index: -1;
            position: absolute;
            left: 0;
            width: 250%;
            
        }
    }
    section.about{
        padding: 30px 0;
        .about__info{
            flex-direction: column;
            .info__img{padding-top: 400px; background-position: center -30px;}
    
            .info__text{
                text-align: center;
                h4{font-size: 1.5*24px;}
    
                ul{display: flex;flex-direction: column;align-items:center;
                    
                    h4{font-size: 1.5*16px;}
    
                    li{padding-left: 0px;font-size: 22px;
                        
                        i{font-size: 1.5*23px;}
                        img{width: 1.5*25px;}
                    }
                }

                
            }
        }
    
    }


}

@media screen and (max-width: 650px){
    section.services{
        .services__items{
            .item-single{width: 100%;max-width: 600px; margin:10px}
        }
    }
}

@media screen and (max-width: 540px){
    section.bg{
        video{
            width: 500%;
        }
    }
}

@media screen and (max-width:450px){
    .btn-blue,.btn-orange{
        display: block;
        max-width: 200px;
        margin: 15px auto;
    }
    section.bg{
        top:0;
        
    }

    section.contact{
        video{
            width: 400%;
        }
        .overlay{
            
            .container{
                
                .form-elements{
                    
                    bottom: 90px;
                    
                    padding: 70px 0;
                    

        
                }
            }
        }
    }
}

/**/