@charset "UTF-8";
/*Variaveis*/
/*Resets*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  background-color: #161d26;
}

*::-moz-selection {
  background: #0abead;
  color: white;
}

*::selection {
  background: #0abead;
  color: white;
}

/*Uilities*/
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

h2 {
  font-size: 48px;
  color: #0abead;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #aab8d4;
  font-weight: regular;
}

input:focus, textarea:focus, button:focus {
  outline: 0;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
  background: #1f2935;
}

/* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
  background: #0abead;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media a {
  margin: 0 10px;
  color: #161d26;
}

.social-media a i {
  background-color: #1f2935;
  font-size: 30px;
  padding: 7px;
  border-radius: 50%;
}

.social-media a i:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #0abead;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(17, 90, 124, 0.15);
          box-shadow: 0px 4px 15px 5px rgba(17, 90, 124, 0.15);
}

.title-section {
  margin-bottom: 60px;
}

.title-section h2 {
  text-align: center;
}

.title-section p {
  text-align: center;
}

.title-section .line {
  display: block;
  position: relative;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 300px;
  width: 100%;
  height: 2px;
  background-color: #0abead;
}

.title-section .line .line-center {
  display: block;
  position: relative;
  left: 50%;
  top: -4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 10px;
  background-color: #0abead;
  border-radius: 30px;
}

.btn-blue {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #0abead;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;
  font-weight: bold;
}

.btn-blue:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 11px 15px 5px rgba(10, 190, 173, 0.25);
  box-shadow: 0px 11px 15px 5px rgba(10, 190, 173, 0.25);
}

.btn-orange {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #f57f17;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.btn-orange:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 11px 15px 5px rgba(245, 127, 23, 0.25);
  box-shadow: 0px 11px 15px 5px rgba(245, 127, 23, 0.25);
}

/**/
/*ESTILIZANDO HEADER*/
.menu-mobile-ul {
  display: none;
  overflow: hidden;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161d26;
  height: 100%;
  width: 100%;
  text-align: center;
}

.menu-mobile-ul .btn-fechar-menu:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.menu-mobile-ul ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-mobile-ul ul li {
  list-style-type: none;
}

.menu-mobile-ul ul li a {
  color: #aab8d4;
  text-decoration: none;
  font-size: 40px;
  line-height: 100px;
}

.menu-mobile-ul ul li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: underline;
  color: white;
}

header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  padding: 22px 0;
  background-color: #1f2935;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo h1 {
  font-weight: 900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0abead;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav ul li {
  margin-left: 35px;
  list-style-type: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: #aab8d4;
  font-size: 16px;
}

header .container nav ul li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0abead;
}

header .container nav.menu-mobile {
  display: none;
}

header .container nav.menu-mobile a.btn-hamb {
  color: #aab8d4;
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
}

header .container nav.menu-mobile a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

/**/
/*SECTION BG*/
section.bg {
  position: relative;
  top: 70px;
  z-index: 1;
  overflow: hidden;
  min-height: 90vh;
  margin-bottom: 100px;
}

section.bg video {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 120%;
}

section.bg .overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 40, 66, 0.5);
  background-image: url("../images/Shape.png");
  background-repeat: no-repeat;
  background-position: center 110%;
}

section.bg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.bg .container .bg__texto {
  padding: 200px 0;
}

section.bg .container .bg__texto h3 {
  margin-bottom: 10px;
  color: #0abead;
}

section.bg .container .bg__texto h3 span {
  color: #f57f17;
}

section.bg .container .bg__texto h1 {
  margin-bottom: 15px;
  color: #0abead;
  font-size: 50px;
  font-weight: bold;
}

section.bg .container .bg__texto p {
  margin-bottom: 30px;
}

section.bg .container .bg__texto .social-media {
  display: none;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.bg .container .bg__texto .social-media a {
  margin: 50px 10px;
  color: #161d26;
}

section.bg .container .bg__texto .social-media a i {
  background-color: #aab8d4;
}

section.bg .container .bg__texto .social-media a i:hover {
  background-color: #1f2935;
  color: #aab8d4;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(17, 90, 124, 0.15);
          box-shadow: 0px 4px 15px 5px rgba(17, 90, 124, 0.15);
}

section.bg .container .bg__imagem {
  position: relative;
  margin-top: 150px;
  min-width: 450px;
  min-height: 450px;
  border: 20px solid #1f2935;
  border-radius: 50%;
  background-image: url("../images/foto-perfil.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(170, 184, 212, 0.07);
          box-shadow: 0px 4px 15px 5px rgba(170, 184, 212, 0.07);
}

section.bg .container .bg__imagem .social-media {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.bg .container .bg__imagem .social-media a i {
  background-color: #aab8d4;
}

section.bg .container .bg__imagem .social-media a i:hover {
  background-color: #1f2935;
  color: #aab8d4;
}

/**/
/*SECTION ABOUT US*/
section.about {
  padding: 60px 0;
}

section.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.about .about__info .info__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding-top: 500px;
  background-image: url("../images/foto-perfil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.about .about__info .info__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
  background-color: #1f2935;
}

section.about .about__info .info__text h4 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #aab8d4;
}

section.about .about__info .info__text ul {
  margin: 20px 0 70px 0;
}

section.about .about__info .info__text ul h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

section.about .about__info .info__text ul li {
  padding-left: 20px;
  list-style-type: none;
  color: #aab8d4;
  font-size: 16px;
  margin-bottom: 5px;
  vertical-align: middle;
}

section.about .about__info .info__text ul li i {
  font-size: 23px;
  color: #f57f17;
  margin-right: 8px;
}

section.about .about__info .info__text ul li img {
  width: 25px;
  margin-right: 6px;
  vertical-align: middle;
}

section.services {
  padding: 60px 0;
}

section.services .services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.services .services__items .item-single {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 65px 30px;
  color: white;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(170, 184, 212, 0.1);
          box-shadow: 0px 4px 15px 5px rgba(170, 184, 212, 0.1);
}

section.services .services__items .item-single i {
  font-size: 60px;
}

section.services .services__items .item-single h5 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: bold;
}

section.services .services__items .item-single p {
  color: white;
  text-align: center;
}

section.services .services__items .item-single:nth-of-type(1) {
  background-color: #8641FF;
}

section.services .services__items .item-single:nth-of-type(2) {
  background-color: #FFC50C;
}

section.services .services__items .item-single:nth-of-type(3) {
  background-color: #EC407A;
}

section.services .services__items .item-single:nth-of-type(4) {
  background-color: #FF6332;
}

section.services .services__items .item-single:nth-of-type(5) {
  background-color: #14B6FF;
}

section.services .services__items .item-single:nth-of-type(6) {
  background-color: #4AAF47;
}

/**/
/*SECTION RESUME*/
section.resume {
  padding: 270px 0;
  background-image: url("../images/shape2.png");
  background-size: cover;
  background-position: right -25px;
}

section.resume .resume__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.resume .resume__info .tab-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #161d26;
  margin-right: 70px;
}

section.resume .resume__info .tab-options .column-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0abead;
  padding: 34px 22px;
  max-width: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.resume .resume__info .tab-options .column-icons i {
  color: white;
  font-size: 22px;
  line-height: 45px;
}

section.resume .resume__info .tab-options .column-text {
  padding: 34px 0;
}

section.resume .resume__info .tab-options .column-text li {
  font-size: 18px;
  list-style-type: none;
  color: #aab8d4;
  padding-right: 15px;
  line-height: 45px;
  border-radius: 0 25px 25px 0;
}

section.resume .resume__info .tab-options .column-text li span.circle {
  position: relative;
  top: 0;
  background-color: #0abead;
  vertical-align: middle;
  width: 15px;
  height: 30px;
  display: inline-block;
  border-radius: 0 25px 25px 0;
}

section.resume .resume__info .tab-info {
  border-left: 2px solid #0abead;
  width: 100%;
  padding-left: 30px;
}

section.resume .resume__info .tab-info .info-single .circle-line {
  position: relative;
  left: -41px;
  top: 25px;
  border-radius: 10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #0abead;
}

section.resume .resume__info .tab-info .info-single .info-text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.resume .resume__info .tab-info .info-single .info-text-title h4 {
  font-size: 20px;
  color: #f57f17;
}

section.resume .resume__info .tab-info .info-single .info-text-title span {
  background-color: #f57f17;
  color: white;
  padding: 3px 15px;
  border-radius: 25px;
}

section.resume .resume__info .tab-info .info-single h5 {
  margin: 5px 0;
  font-size: 16px;
  color: #aab8d4;
}

/**/
/*SECTION PORTFOLIO*/
section.portfolio {
  padding: 60px 0;
}

/**/
/*SLICK SLIDER*/
.container-slider {
  overflow: hidden;
  padding: 40px 0;
}

.container-slider .container-slider-single {
  float: left;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 15px;
}

.slick-dotted ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  margin-top: 10px;
  top: 30px;
}

.slick-dotted li {
  display: inline-block;
  margin: 0 7px;
}

.slick-dotted button:focus {
  outline: 0;
}

.slick-dotted li button {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  color: #d8d8d8;
  border-width: 0;
  background-color: #d8d8d8;
  opacity: 1;
  cursor: pointer;
}

li.slick-active button {
  background-color: #373855;
  color: #373855;
}

/*FIM SLICK SLIDER*/
/*SECTION CONTACT*/
section.contact {
  background-image: url("../images/cafe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  min-height: 700px;
  overflow: hidden;
}

section.contact .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

section.contact .overlay .form-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
}

section.contact .overlay .form-elements .form-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
  margin-top: 25px;
}

section.contact .overlay .form-elements .form-text h4 {
  font-size: 34px;
  color: white;
  margin-bottom: 15px;
}

section.contact .overlay .form-elements .form-text p {
  width: 100%;
  max-width: 400px;
}

section.contact .overlay .form-elements .form-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
  padding: 20px 10px;
  border-radius: 10px;
}

section.contact .overlay .form-elements .form-container h5 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #0abead;
  text-align: left;
  margin-left: 40px;
}

section.contact .overlay .form-elements .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .overlay .form-elements .form-container form input {
  background-color: #161d26;
  color: #aab8d4;
  padding-left: 12px;
  font-size: 18px;
  line-height: 45px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
}

section.contact .overlay .form-elements .form-container form textarea {
  background-color: #161d26;
  color: #aab8d4;
  padding: 12px;
  font-size: 18px;
  width: 100%;
  max-width: 500px;
  height: 100px;
  resize: none;
  border-radius: 10px;
  border: 0;
}

section.contact .overlay .form-elements .form-container form button.btn-blue {
  border: 0;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  border-radius: 10px;
}

section.contact video {
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

/**/
/*FOOTER*/
footer {
  padding: 25px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container p {
  line-height: 45px;
  font-size: 18px;
}

footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social-media a {
  margin: 0 10px;
  color: #161d26;
}

footer .container .social-media a i {
  background-color: #1f2935;
  font-size: 30px;
  padding: 7px;
  border-radius: 50%;
}

footer .container .social-media a i:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #0abead;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(170, 184, 212, 0.15);
          box-shadow: 0px 4px 15px 5px rgba(170, 184, 212, 0.15);
}

/**/
/*RESPONSIVO*/
@media screen and (max-width: 1265px) {
  section.contact video {
    width: 150%;
  }
  section.services .services__items .item-single {
    width: 48%;
    margin: 10px;
  }
  /**/
}

@media screen and (max-width: 1112px) {
  section.bg video {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 150%;
  }
  section.bg .container .bg__imagem {
    display: none;
  }
  section.bg .container .bg__texto .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1060px) {
  section.contact .overlay .container .form-elements {
    position: relative;
    bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 50px 0;
  }
  section.contact .overlay .container .form-elements .form-text {
    text-align: center;
    margin-bottom: 15px;
  }
  section.contact .overlay .container .form-elements .form-container {
    margin-left: 0;
    padding: 25px;
    width: 100%;
    max-width: 600px;
  }
  section.contact .overlay .container .form-elements .form-container h5 {
    text-align: center;
    margin-left: 0;
  }
  section.services .services__items .item-single {
    width: 48%;
    max-width: 600px;
    margin: 15px 5px;
  }
}

@media screen and (max-width: 900px) {
  section.contact video {
    width: 300%;
  }
  section.resume {
    padding: 150px 0;
    background-position: center;
  }
  section.resume .resume__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.resume .resume__info .tab-options {
    max-width: 500px;
    width: 100%;
    margin-right: 0;
  }
  section.resume .resume__info .tab-info {
    max-width: 500px;
    width: 100%;
  }
  section.bg video {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 200%;
  }
}

@media screen and (max-width: 768px) {
  section.contact video {
    display: none;
    width: 400%;
  }
  section.contact .overlay {
    background-color: rgba(22, 29, 38, 0.7);
  }
  body {
    scroll-behavior: smooth;
  }
  .container-slider .container-slider-single img {
    width: 100%;
  }
  .slick-slide {
    margin-left: 0px;
  }
  .slick-list {
    margin-left: 0px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 14px;
  }
  header .container nav.menu-desktop {
    display: none;
  }
  header .container nav.menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding: 25px 0;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    line-height: 45px;
    font-size: 18px;
  }
  footer .container .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container .social-media a {
    margin: 10px 10px;
    color: #161d26;
  }
  section.bg {
    height: auto;
  }
  section.bg .container .bg__texto {
    width: 100%;
    text-align: center;
    padding: 150px 0;
  }
  section.bg .container .bg__texto h1 {
    font-size: 35px;
  }
  section.bg .container .bg__texto .social-media {
    width: 100%;
  }
  section.bg video {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 250%;
  }
  section.about {
    padding: 30px 0;
  }
  section.about .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.about .about__info .info__img {
    padding-top: 400px;
    background-position: center -30px;
  }
  section.about .about__info .info__text {
    text-align: center;
  }
  section.about .about__info .info__text h4 {
    font-size: 36px;
  }
  section.about .about__info .info__text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.about .about__info .info__text ul h4 {
    font-size: 24px;
  }
  section.about .about__info .info__text ul li {
    padding-left: 0px;
    font-size: 22px;
  }
  section.about .about__info .info__text ul li i {
    font-size: 34.5px;
  }
  section.about .about__info .info__text ul li img {
    width: 37.5px;
  }
}

@media screen and (max-width: 650px) {
  section.services .services__items .item-single {
    width: 100%;
    max-width: 600px;
    margin: 10px;
  }
}

@media screen and (max-width: 540px) {
  section.bg video {
    width: 500%;
  }
}

@media screen and (max-width: 450px) {
  .btn-blue, .btn-orange {
    display: block;
    max-width: 200px;
    margin: 15px auto;
  }
  section.bg {
    top: 0;
  }
  section.contact video {
    width: 400%;
  }
  section.contact .overlay .container .form-elements {
    bottom: 90px;
    padding: 70px 0;
  }
}

/**/
/*# sourceMappingURL=style.css.map */